<section class="testimonial">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 mx-auto text-center mb-5">
        <div class="testimonial-content">
          <h2>{{include.title}} <span> {{include.title_suffix}}</span></h2>
          {{include.description | markdownify}}
        </div>
      </div>
    </div>
    <div class="row">
      {% for item in include.slider %}
      <div class="col-lg-4 col-md-6 mb-5">
        <a href="/products?category={{item.author | downcase | replace: ' ', '-'}}" class="testimonial-item-link">
          <div class="testimonial-item">
            <div class="testimonial-item-person">
              <div class="thumb">
                {% include picture.html src=item.image alt=item.image_alt %}
              </div>
              <div class="content">
                <h4>{{item.author}}</h4>
                <p>{{item.designation}}</p>
              </div>
            </div>
            <p>{{item.message}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
